@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

.main_body {
    height: 100vh;
    width: 100vw;
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
    background-size: cover;
    -webkit-animation: slidein 4s;
    animation: slidein 5s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
@-webkit-keyframes slidein {
    from {
        background-position: top;
        /* Adjust the background-size to control the zoom level */
        background-size: 130%; /* Use a percentage value to fit the image */
    }

    to {
        background-position: -100px 0px;
        background-size: 130%; /* Keep the same background size */
    }
}

@keyframes slidein {
    from {
        background-position: top;
        background-size: 130%; /* Use a percentage value to fit the image */
    }

    to {
        background-position: -100px 0px;
        background-size: 130%; /* Keep the same background size */
    }
}






